<!--fills in data for these blocks-->
{% extends 'user_skeleton.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>

    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>

    {% else %}
    <table>
        <!-- headers for the columns -->
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>

        <!-- provides loop for displaying rows with tasks previously entered -->
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/todo/delete/{{ task.id }}">Delete</a>
                    <br>
                    <a href="/todo/update/{{ task.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}

    <!-- input box and button for task inputs -->
    <div class="form">
        <form action="/todo" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>

</div>
{% endblock %}
