<!--fills in data for these blocks-->
{% extends 'user_skeleton.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="vh_center" style="top:25%; color:aliceblue;">
        <h1 class="text--center">Task Master</h1>

        <!-- input box and button for task inputs -->
        <div class="form text--center" style="color:black; font-weight:550; font-size:large">
            <form action="/todo" method="POST">
                <input class="text--center" type="text" name="content" id="content">
                <input type="submit" value="Add Task">
            </form>
        </div>

        {% if tasks|length < 1 %}
        <h4 class="text--center">There are no tasks. Create one above!</h4>

        {% else %}
        <div class="text--center">
            <table>
                <!-- headers for the columns -->
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>

                <!-- provides loop for displaying rows with tasks previously entered -->
                {% for task in tasks %}
                    <tr class="text--center">
                        <td>{{ task.content }}</td>
                        <td>{{ task.date_created.date() }}</td>
                        <td>
                            <a href="/todo/delete/{{ task.id }}">Delete</a>
                            <br>
                            <a href="/todo/update/{{ task.id }}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
