<!--fills in data for these blocks-->
{% extends 'user_skeleton.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="vh_center flexy" style="top:30%; color:aliceblue; flex-direction:column;">
        <h1 class="text--center">Task Master</h1>

        <!-- input box and button for task inputs -->
        <div class="form text--center" style="color:black; font-weight:550; font-size:large">
            <form action="/todo" method="POST">
                <input class="text--center" type="text" name="content" id="content">
                <input type="submit" value="Add Task">
            </form>
        </div>

        {% if tasks|length < 1 %}
        <h4 class="text--center">There are no tasks. Create one above!</h4>

        {% else %}
        <div style="position:relative; width:75%;">
            <table style="position:absolute; width:100%;">
                <tbody class="flexy" style="flex-direction:column;">
                    <!-- headers for the columns -->
                    <tr class="flexy" style="justify-content:center; max-width: 75%;">
                        <th class="flexiestboi">Task</th>
                        <th class="flexierboi">Added</th>
                        <th class="flexyboi">Actions</th>
                    </tr>

                    <!-- provides loop for displaying rows with tasks previously entered -->
                    {% for task in tasks %}
                        <tr class="flexy" style="justify-content:center; max-width: 75%;">
                            <td class="flexiestboi" style="word-wrap:break-word; max-width: 400px;">{{ task.content }}</td>
                            <td class="flexierboi">{{ task.date_created.date() }}</td>
                            <td style="float:right;">
                                <a href="/todo/delete/{{ task.id }}">Delete</a>
                                <br>
                                <a href="/todo/update/{{ task.id }}">Update</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
