{% extends 'user_skeleton.html' %}

{% block head %}
<title>McKracken</title>
<meta id="my-data" data-atoken="{{ atoken }}" data-isplaying="False">

<!-- init page with current state data... just a thought -->

{% endblock %}

{% block body %}

<div class="flexy" style="background-clip:content-box; background-color:rgb(24, 51, 25); width:100%; height: 100%; padding-top: 56px;">

    <!-- Left Side -->
    <div class="flexyboi" style="height:100%; margin-top: 20px; margin-right: 10px; background-color: #212121; float: left; max-width: 300px; min-width: 250px;">
        {% if playlists %}
        <p class="text--center" style="font-size: larger; margin:20px 10px 10px 10px; padding: 10px 15px;">Playlists</p>
            {% for playlist in playlists %}
            <p class="text--center" style="font-size: small; color:rgb(199, 199, 199); padding: 5px 15px; margin:5px 0px;">{{ playlist }}</p>
            {% endfor %}
        {% endif %}
    </div>

     <!-- Right Side -->
    <div class="flexiestboi" style="height:90%; margin-top: 20px; margin-left: 20px; margin-right:25px; background-color:#383838; float: right; min-width: 400px;">
        <div class="vh_center flexy" style="margin-top: 15px; flex-direction: column; width:auto; position: relative;">
            {% if atoken %}
                <div class="flexy" style="height:300px;">
                    <div class="flexy flexyboi" style="justify-content: center;">
                        <img src="" alt="Album Cover" style="display:none" id="album-cover">
                    </div>

                    <div class="flexy flexyboi" style="justify-content: center; flex-direction: column; align-items: center; width: 500px;">
                        <div style="text-align: center;">
                            <h1 style="color:white; margin:0;" id="current-song">Nothing playing</h1>
                            <p class="text--center" style="color: white; font-size: larger; margin:10px; padding: 10px;" id="current-artist">No Artist</p>
                        </div>

                        <div class="flexy" style="width:100%; height:70px; justify-content: center;">
                            <form id="music-player-form" class="flexy" style="justify-content: center; position: absolute; margin: 5px; height: 60px; width: 172px;">

                                <button style="background-color: transparent; border-color: transparent;" type="button" id="previous-song">
                                    <svg xmlns="http://www.w3.org/2000/svg" class=" music-icons bi bi-rewind-circle" viewBox="0 0 16 16">
                                        <path d="M7.729 5.055a.5.5 0 0 0-.52.038l-3.5 2.5a.5.5 0 0 0 0 .814l3.5 2.5A.5.5 0 0 0 8 10.5V8.614l3.21 2.293A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407L8 7.386V5.5a.5.5 0 0 0-.271-.445Z"/>
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                                    </svg>
                                </button>

                                <button style="z-index: 202; background-color: transparent; border-color: transparent;" type="button" id="play">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0 10px 0 10px" class="music-icons bi bi-play-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                                    </svg>
                                </button>

                                <button style="z-index: 200; display: none; background-color: transparent; border-color: transparent;" type="button" id="pause">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0 10px 0 10px" class="music-icons bi bi-pause-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z"/>
                                    </svg>
                                </button>

                                <button style="background-color: transparent; border-color: transparent;" type="button" id="next-song">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="music-icons bi bi-fast-forward-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14Zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16Z"/>
                                        <path d="M4.271 5.055a.5.5 0 0 1 .52.038L8 7.386V5.5a.5.5 0 0 1 .79-.407l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 8 10.5V8.614l-3.21 2.293A.5.5 0 0 1 4 10.5v-5a.5.5 0 0 1 .271-.445Z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                {% if devices %}
                    <div class="text--center">
                        <p class="text--center" style="font-size: larger; margin:10px; padding: 10px;">Available Devices</p>
                        {% for device in devices %}
                            <p class="text--center" style="font-size: small; color:rgb(199, 199, 199); padding: 5px 15px; margin:5px 0px;">{{ device }}</p>
                        {% endfor %}
                    </div>
                {% endif %}


                <div class="text--center">
                    <p style="word-wrap:break-word; color:#f82c2c; font-weight:400;" class="text--center">Logged In. Access Token= {{ atoken }}</p>
                    <a style="left:50%; transform: translate(-50%); font-size:1.2rem;" href="/spotify/delete">Delete Account</a>
                </div>
            {% else %}
                <div style="height:56px; margin: 15px 0px;">
                    <form action="/spotify" method="POST" class="form login" style="position:absolute; left: 50%; transform: translate(-50%); width:30%;">
                        <div class="form__field">
                            <input type="submit" value="Register">
                        </div>
                    </form>
                </div>
            {% endif %}
                            
        </div>
    </div>
</div>










<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    var is_playing = $('#my-data').data().isplaying

    const playbutton = document.getElementById("play");
    playbutton.addEventListener("click", Play);

    const pausebutton = document.getElementById("pause");
    pausebutton.addEventListener("click", Pause);

    const nextbutton = document.getElementById("next-song");
    nextbutton.addEventListener("click", NextSong);

    const previousbutton = document.getElementById("previous-song");
    previousbutton.addEventListener("click", PreviousSong);



    function UpdateCurrentSong(songname, artist, albumcover){
        document.getElementById("current-song").innerHTML = songname;
        document.getElementById("current-artist").innerHTML = artist;
        if(albumcover){
            document.getElementById("album-cover").src = albumcover;
            document.getElementById("album-cover").style.display = 'block';
        }
        else{
            document.getElementById("album-cover").style.display = 'none';
        }
    }


    async function Pause(){
        if(is_playing === 'True'){
            var atoken = $('#my-data').data().atoken
            var params = JSON.stringify({'atoken': atoken, 'action': 'pause'})

            var response = await fetch('http://localhost:5000/spotify/play', {
                method: 'POST',
                headers: {
                    "Content-Type":  'application/json'
                },
                body: params
            })
                .then((response) => response.json())
                .then((data)=> {
                    if(data.success===true){
                        UpdateCurrentSong(data.track, data.artist, data.albumcover);
                        if(data.isplaying===true){
                            document.getElementById("play").style.display = 'none';
                            document.getElementById("pause").style.display = 'block';
                            document.getElementById("pause").style.zIndex = '205';
                            is_playing = 'True'
                        }
                        else{
                            document.getElementById("play").style.display = 'block';
                            document.getElementById("pause").style.display = 'none';
                            document.getElementById("pause").style.zIndex = '200';
                            is_playing = 'False'
                        }
                    }
                    else{
                        alert(data.message);
                    };
                });
            }
    }


    async function Play(){
        if(is_playing === 'False'){
            var atoken = $('#my-data').data().atoken
            var params = JSON.stringify({'atoken': atoken, 'action': 'play'})

            var response = await fetch('http://localhost:5000/spotify/play', {
                method: 'POST',
                headers: {
                    "Content-Type":  'application/json'
                },
                body: params
            })
                .then((response) => response.json())
                .then((data)=> {
                    if(data.success===true){
                        UpdateCurrentSong(data.track, data.artist, data.albumcover);
                        if(data.isplaying===true){
                            document.getElementById("play").style.display = 'none';
                            document.getElementById("pause").style.display = 'block';
                            document.getElementById("pause").style.zIndex = '205';
                            is_playing = 'True'
                        }
                        else{
                            document.getElementById("play").style.display = 'block';
                            document.getElementById("pause").style.display = 'none';
                            document.getElementById("pause").style.zIndex = '200';
                            is_playing = 'False'
                        }
                    }
                    else{
                        alert(data.message);
                    };
                });
        }
    }


    async function NextSong(){
        var atoken = $('#my-data').data().atoken
        var params = JSON.stringify({'atoken': atoken, 'action': 'next'})

        var response = await fetch('http://localhost:5000/spotify/play', {
            method: 'POST',
            headers: {
                "Content-Type":  'application/json'
            },
            body: params
        })
            .then((response) => response.json())
            .then((data)=> {
                if(data.success===true){
                    UpdateCurrentSong(data.track, data.artist, data.albumcover);
                    if(data.isplaying===true){
                            document.getElementById("play").style.display = 'none';
                            document.getElementById("pause").style.display = 'block';
                            document.getElementById("pause").style.zIndex = '205';
                            is_playing = 'True'
                        }
                        else{
                            document.getElementById("play").style.display = 'block';
                            document.getElementById("pause").style.display = 'none';
                            document.getElementById("pause").style.zIndex = '200';
                            is_playing = 'False'
                        }
                }
                else{
                    alert(data.message);
                };
            });
    }


    async function PreviousSong(){
        var atoken = $('#my-data').data().atoken
        var params = JSON.stringify({'atoken': atoken, 'action': 'previous'})

        var response = await fetch('http://localhost:5000/spotify/play', {
            method: 'POST',
            headers: {
                "Content-Type":  'application/json'
            },
            body: params
        })
            .then((response) => response.json())
            .then((data)=> {
                if(data.success===true){
                    UpdateCurrentSong(data.track, data.artist, data.albumcover);
                    if(data.isplaying===true){
                            document.getElementById("play").style.display = 'none';
                            document.getElementById("pause").style.display = 'block';
                            document.getElementById("pause").style.zIndex = '205';
                            is_playing = 'True'
                        }
                        else{
                            document.getElementById("play").style.display = 'block';
                            document.getElementById("pause").style.display = 'none';
                            document.getElementById("pause").style.zIndex = '200';
                            is_playing = 'False'
                        }
                }
                else{
                    alert(data.message);
                };
            });
    }

</script>


{% endblock %}
