{% extends 'user_skeleton.html' %}

{% block head %}
<title>McKracken</title>
{% endblock %}

{% block body %}

<div class="flexy" style="background-clip:content-box; background-color:rgb(24, 51, 25); width:100%; height: 100%; padding-top: 56px;">

    <!-- Left Side -->
    <div class="flexyboi" style="height:100%; margin-top: 20px; margin-right: 10px; background-color: #212121; float: left; max-width: 350px; min-width: 200px;">
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
          <p class="text--center" style="padding: 10px 15px;">side space</p>
    </div>

     <!-- Right Side -->
    <div class="flexiestboi" style="height:90%; margin-top: 20px; margin-left: 20px; margin-right:25px; background-color:#383838; float: right; min-width: 400px;">
        <div class="vh_center flexy" style="flex-direction: column; width:auto; position: relative;">
            {% if error %}
                <p style="color:#f82c2c; font-weight:400;" class="text--center">{{ error }}</p>
            {% else %}
                <div style="height:56px; margin: 15px 0px;">
                    <form action="/spotify" method="POST" class="form login" style="position:absolute; left: 50%; transform: translate(-50%); width:30%;">
                        <div class="form__field">
                            <input type="submit" value="Register">
                        </div>
                    </form>
                </div>
            {% endif %}
                            
        </div>
    </div>
</div>

{% endblock %}
