<!DOCTYPE html>

<!--


XX      XX  XXXXXXXX  XX        XX          XXXX
XX      XX  XX        XX        XX        XX    XX
XX      XX  XX        XX        XX       XX      XX
XXXXXXXXXX  XXXXXXXX  XX        XX      XX        XX
XX      XX  XX        XX        XX       XX      XX
XX      XX  XX        XX        XX        XX    XX
XX      XX  XXXXXXXX  XXXXXXXX  XXXXXXXX    XXXX

XXXXXXXXXX  XX      XX  XXXXXXXX  XXXXXX     XXXXXXXX
    XX      XX      XX  XX        XX    XX   XX
    XX      XX      XX  XX        XX    XX   XX
    XX      XXXXXXXXXX  XXXXXXXX  XX XXX     XXXXXXXX
    XX      XX      XX  XX        XX   XX    XX
    XX      XX      XX  XX        XX    XX   XX
    XX      XX      XX  XXXXXXXX  XX    XX   XXXXXXXX


-->

<head>
    <meta charset="UTF-8" content="width=device-width">
    <title>Caden's Portfolio</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/port_css.css') }}">
    <!-- maybe include an icon here as well
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
    -->

</head>

<html>
    <body>
        <div>
            <h2 style="text-align: center;">General Kenobi...</h2>
        </div>

    </body>
</html>